.section-area {
  position: relative; }
  .section-area .video-section {
    height: 100vh;
    overflow: hidden; }
    .section-area .video-section:before {
      content: '';
      background-color: rgba(17, 17, 17, 0.84);
      position: absolute;
      width: 100%;
      height: 100%; }
    .section-area .video-section iframe {
      width: 100%; }
    @media screen and (max-width: 800px) {
      .section-area .video-section {
        height: auto;
        overflow: hidden; }
        .section-area .video-section:before {
          display: none; }
        .section-area .video-section iframe {
          height: 430px; } }
  .section-area .video-caption-section {
    position: absolute;
    width: 100%;
    top: 113px;
    margin: auto; }
    .section-area .video-caption-section p {
      color: #fff;
      font-size: 19px; }
    @media screen and (max-width: 800px) {
      .section-area .video-caption-section {
        top: 0px;
        position: relative;
        background-color: rgba(5, 5, 5, 0.901);
        margin-top: -8px;
        padding: 3px 0px 11px 0px; } }
  .section-area .column-content h2 {
    font-size: 27px; }
  .section-area .column-content p {
    font-size: 15px; }
  .section-area .column-content i {
    font-size: 60px;
    color: #AB6534; }
  .section-area .product-image {
    display: table; }
    .section-area .product-image img {
      width: 100%;
      display: table-cell;
      padding: 70px 100px; }
    @media screen and (max-width: 800px) {
      .section-area .product-image {
        display: block;
        max-width: 280px;
        margin: auto; }
        .section-area .product-image img {
          padding: 30px; } }

.mobile-sec {
  padding: 80px 0px 40px 0px; }
  .mobile-sec .feature-col {
    padding: 52px 0px 0px 0px; }
    .mobile-sec .feature-col h2 {
      font-size: 20px;
      font-weight: 800;
      color: #111 !important; }
  @media screen and (max-width: 800px) {
    .mobile-sec {
      padding: 30px 0px 40px 0px; }
      .mobile-sec .feature-col {
        text-align: center; }
      .mobile-sec .mobile-img {
        text-align: center;
        padding: 60px 10px 0px 0px; }
        .mobile-sec .mobile-img img {
          width: 100%; } }

.services-sec {
  background-image: url(../images/service_parallax.jpg);
  background-attachment: fixed;
  padding: 100px 0px; }
  .services-sec .service-block {
    border: 1px solid #848484; }
  .services-sec .service-image-area {
    max-height: 232px;
    overflow: hidden; }
    .services-sec .service-image-area img {
      width: 100%; }
  .services-sec .service-content-area {
    padding: 30px;
    background-color: rgba(17, 17, 17, 0.63); }
    .services-sec .service-content-area i {
      font-size: 70px;
      display: block;
      margin: auto;
      text-align: center;
      color: #fff; }
    .services-sec .service-content-area h3 {
      font-size: 20px;
      text-align: center; }
    .services-sec .service-content-area h4 {
      font-size: 15px;
      text-align: center;
      color: #cac6c3 !important; }
    .services-sec .service-content-area p {
      color: #fff;
      text-align: center;
      padding: 10px 0px; }
    .services-sec .service-content-area a.btn {
      display: table;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      font-size: 16px;
      padding: 10px 20px; }
  @media screen and (max-width: 800px) {
    .services-sec {
      padding: 85px 0px 40px 0px; }
      .services-sec .service-block {
        margin-bottom: 50px; } }

.pricing-section {
  padding: 100px 0px; }
  .pricing-section .pricebox-container {
    display: table;
    border-collapse: separate;
    border-spacing: 20px 0px; }
    .pricing-section .pricebox-container .pricebox {
      display: table-cell;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 20px 0px;
      /* border-radius: 5px; */
      /* transform: translateX(20px); */ }
      .pricing-section .pricebox-container .pricebox h3 {
        font-size: 20px;
        text-align: center;
        color: #222 !important; }
      .pricing-section .pricebox-container .pricebox:first-child {
        /* transform: translateX(0px) !important; */ }
      @media screen and (max-width: 800px) {
        .pricing-section .pricebox-container .pricebox {
          background-color: rgba(255, 255, 255, 0.8); } }
    .pricing-section .pricebox-container .pricebox-header {
      padding: 0px 30px; }
    .pricing-section .pricebox-container .pricebox-body {
      padding: 30px 0px 10px 0px;
      text-align: center; }
      .pricing-section .pricebox-container .pricebox-body p {
        padding: 12px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .pricing-section .pricebox-container .pricebox-footer {
      padding: 13px 10px;
      text-align: center; }
      .pricing-section .pricebox-container .pricebox-footer a.btn {
        font-size: 19px;
        padding: 6px 12px; }

.previous-price {
  color: rgba(0, 0, 0, 0.2) !important;
  font-size: 63px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
  display: table !important;
  font-weight: 700; }
  .previous-price sup {
    font-size: 39px;
    font-style: normal; }
  .previous-price:after {
    content: '';
    background-color: #e7223d;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%; }

.current-price {
  color: #222 !important;
  font-size: 72px;
  display: table;
  text-align: center;
  margin: auto;
  font-weight: bolder; }
  .current-price sup {
    font-size: 39px;
    font-style: normal; }

/* cart css start */
.widget-area h2 {
  font-size: 18px !important;
  color: #111 !important;
  padding-bottom: 17px;
  font-weight: 700; }

.pre-footer-widgets {
  background: rgba(0, 0, 0, 0.07);
  padding: 100px 0px; }
  @media screen and (max-width: 800px) {
    .pre-footer-widgets {
      padding: 30px 0px; }
      .pre-footer-widgets .widget-area {
        margin-bottom: 30px; }
        .pre-footer-widgets .widget-area iframe {
          width: 100% !important; }
        .pre-footer-widgets .widget-area span {
          width: 100% !important; }
        .pre-footer-widgets .widget-area .fb_iframe_widget_fluid {
          overflow-y: scroll;
          float: left;
          width: 100%; } }

.page-title-area {
  padding: 113px 30px 100px 30px;
  background-size: 100%;
  background-attachment: fixed; }
  .page-title-area h1 {
    color: #222 !important; }
    .page-title-area h1 span {
      color: #AB6534; }
  @media screen and (max-width: 800px) {
    .page-title-area {
      background-position: 100%;
      background-size: cover;
      padding: 90px 30px 35px 30px;
      position: relative; }
      .page-title-area:before {
        content: '';
        background-color: rgba(255, 246, 246, 0.7019607843);
        position: absolute;
        margin: auto;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
      .page-title-area h1 {
        font-size: 33px;
        text-align: center;
        position: relative; } }

.cart-table {
  padding: 60px 0px 30px 0px; }

.custom-cart-table thead th {
  padding: 20px 10px !important;
  color: #AB6534 !important;
  font-size: 19px !important;
  border-top: 2px solid #AB6534 !important;
  border-bottom: 2px solid #AB6534 !important; }
.custom-cart-table td {
  padding: 32px 0px 32px 10px !important;
  border-top: 0px solid !important;
  border-bottom: 1px solid #ccc; }
.custom-cart-table .product-remove {
  width: 90px;
  padding: 32px 0px; }
  .custom-cart-table .product-remove i {
    padding: 7px 8px;
    border-radius: 51px;
    font-size: 9px;
    cursor: pointer;
    background-color: transparent;
    color: #AB6534 !important;
    border: 1px solid #AB6534 !important;
    transition: 0.3s ease-in-out; }
    .custom-cart-table .product-remove i:hover, .custom-cart-table .product-remove i:focus {
      background-color: #AB6534 !important;
      color: #fff !important; }
.custom-cart-table .product-name {
  width: 400px; }
.custom-cart-table .product-price {
  width: 120px; }
.custom-cart-table .product-thumbnail {
  width: 90px;
  padding: 10px 0px 20px 0px !important;
  border-bottom: 0px; }
  .custom-cart-table .product-thumbnail img {
    max-width: 70px; }
.custom-cart-table .product-total {
  width: 90px; }
.custom-cart-table td.product-quantity {
  width: 90px;
  padding: 26px 0px 32px 10px !important;
  border-bottom: 0px; }
.custom-cart-table input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: #000;
  padding: 9px 0px 9px 12px;
  margin: 0px 10px;
  max-width: 140px; }
  .custom-cart-table input[type="text"]:active, .custom-cart-table input[type="text"]:focus {
    -webkit-box-shadow: 0 0 4px 0 #AB6534;
    box-shadow: 0 0 4px 0 #AB6534;
    outline: 0;
    border: 1px solid #000;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease; }
.custom-cart-table input[type="number"] {
  padding: 6px 2px 3px 12px;
  width: 60px;
  margin-left: 5px;
  border: 1px solid #e4dfdf; }
  .custom-cart-table input[type="number"]:active, .custom-cart-table input[type="number"]:focus {
    -webkit-box-shadow: 0 0 4px 0 #AB6534;
    box-shadow: 0 0 4px 0 #AB6534;
    outline: 0;
    border: 1px solid #000;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease; }
.custom-cart-table.checkout-cart-table td {
  padding: 18px 0px 18px 10px !important; }
@media screen and (max-width: 800px) {
  .custom-cart-table {
    overflow-y: scroll; } }

.checkout-area {
  float: right;
  width: 48%;
  padding: 1.5em 2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 40px; }
  .checkout-area h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700; }
  .checkout-area p {
    color: #AB6534;
    font-weight: 700;
    margin-bottom: 0; }
  .checkout-area h4 {
    font-weight: 700;
    font-size: 23px; }
  .checkout-area .proceed-to-checkout a {
    display: block;
    width: 100%; }
  @media screen and (max-width: 800px) {
    .checkout-area {
      float: none;
      width: 100%; } }

/* cart css end */
/* checkout css start */
.selectsearch {
  width: 100%;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.margin-bottom-13 {
  margin-bottom: 13px; }

.cart-table.checkout {
  padding: 0px 0px 30px 0px !important; }
  .cart-table.checkout h3 {
    margin-bottom: 30px; }

.product-qty {
  font-weight: 700; }

.cart-page {
  padding: 0px 0px 20px 0px; }

a.link {
  color: #AB6534; }
  a.link:hover, a.link:focus {
    color: #27130A; }

.payment {
  border: 2px solid rgba(0, 0, 0, 0.07);
  padding: 20px; }
  .payment .payment-method {
    padding: 0px;
    margin-bottom: 0px; }
  .payment .order-place a {
    display: block; }
  .payment .payment-option-method {
    position: relative;
    list-style: none; }
    .payment .payment-option-method input {
      display: inline-block;
      vertical-align: middle;
      height: auto;
      width: auto;
      margin-top: -4px;
      position: relative;
      left: 0;
      cursor: pointer; }
    .payment .payment-option-method input[type="checkbox"] {
      position: absolute !important;
      top: 7px; }
    .payment .payment-option-method label {
      padding-left: 6px; }
      .payment .payment-option-method label.terms {
        padding-left: 17px; }
    .payment .payment-option-method .detail-box {
      position: relative;
      display: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      background-color: #dfdcde; }
      .payment .payment-option-method .detail-box:before {
        content: "";
        display: block;
        border: 10px solid #dfdcde;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        left: 10px;
        top: -20px; }
    .payment .payment-option-method:last-child .form-group {
      margin-bottom: 0px; }

.billing-informarion h3, .checkout-cart-table h3 {
  font-size: 31px;
  margin-bottom: 50px;
  margin-top: 35px;
  color: #111 !important;
  font-weight: 700; }
@media screen and (max-width: 800px) {
  .billing-informarion .billing-informarion h3, .checkout-cart-table .billing-informarion h3 {
    margin-bottom: 24px !important;
    margin-top: 26px !important; }
  .billing-informarion h3, .checkout-cart-table h3 {
    margin-bottom: 14px;
    margin-top: 16px;
    font-size: 22px; } }

.chosen-container {
  width: 100% !important; }
  .chosen-container a.chosen-single {
    padding: 5px 10px;
    height: auto;
    background-color: transparent !important;
    background: none !important;
    border: 1px solid #ccc !important; }

/* checkout css end */
.contact-section {
  padding: 70px 0px;
  background-image: url(../images/contact_bcg.jpg);
  background-attachment: fixed; }
  .contact-section label {
    color: #fff; }

.copyright-area {
  padding: 18px 0px; }
  .copyright-area p {
    margin-bottom: 0px; }
  @media screen and (max-width: 800px) {
    .copyright-area p {
      text-align: center; } }

.footer-nav ul {
  list-style: none; }
  .footer-nav ul li {
    padding: 0px 10px; }
    .footer-nav ul li a {
      color: #AB6534;
      padding: 0px; }
@media screen and (max-width: 800px) {
  .footer-nav .navbar-nav {
    padding-left: 0px;
    margin: auto; }
    .footer-nav .navbar-nav li {
      display: inline-block; } }

.product-background-image {
  background-image: url(../images/product-image.jpg);
  background-position: 40% 100%;
  background-size: cover; }
  @media screen and (max-width: 800px) {
    .product-background-image {
      background-position: 80% 100%; } }

.menu-toggle {
  float: right;
  font-size: 27px;
  margin-top: 20px;
  color: #AB6534; }
